root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# IntelliJ
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = true
ij_visual_guides = 180
ij_wrap_on_typing = false
ij_smart_tabs = true

[*.bat]
# Empty

[*.{kt,kts}]
ij_kotlin_continuation_indent_size = 8
ij_kotlin_imports_layout = *, java.*, javax.*, kotlin.*, blank, com.*, blank

[*.java]
ij_continuation_indent_size = 8
ij_java_imports_layout = *, javax.*, java.*, blank, com.*, blank

[*.md]
# Empty

[*.sh]
# Empty

[*.properties]
# Empty

[*.{xml,html,svg}]
# Empty
ij_xml_continuation_indent_size = 8
ij_html_continuation_indent_size = 8

[*.{yaml,yml}]
indent_size = 2
